.social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5%;
}

.sm_img{
    display: flex;
}

.sm_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}